body{
   /* background-color: #758c41; */
   background-color: #cbe8d5;
}
#principal{
    text-align: center;
    font-family: sans-serif;
    font-size: 2em;
    color: #94eab2;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#principal img{
    max-width: 300px;
}